body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 36px;
    color: #0056b3;
}

#sensorValue {
    font-size: 24px;
    font-weight: bold;
    color: #ff5733;
}
